.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #fff;
  color: #000;

  line-height: 1.5;
  text-align: center;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.page__item {
  flex: 0 0 auto;

  margin: 0;
  margin-bottom: 1rem;
}
.page__item:last-child {
  margin-bottom: 0;
}

.page__item--expand {
  flex: 1 1 auto;
}

.page__card {
  position: relative;
}

.page__card__corner {
  margin: 1rem;

  position: absolute;
}

.page__card__corner,
.page__card__corner__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.page__card__corner__icon__fill {
  fill: currentColor;
}

.page__card__corner--tl {
  top: 0;
  left: 0;
}

.page__card__corner--tr {
  top: 0;
  right: 0;
}

.page__card__corner--br {
  bottom: 0;
  right: 0;
}

.page__card__corner--bl {
  bottom: 0;
  left: 0;
}

.page__card__main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 1rem;

  overflow: auto;
}

.page__card__main__item {
  flex: 0 0 auto;

  margin: 0;
  margin-bottom: 1rem;
}
.page__card__main__item:first-child {
  margin-top: auto;
}
.page__card__main__item:last-child {
  margin-bottom: auto;
}

.page__row {
  display: flex;
  align-items: stretch;
}

.page__row__item {
  flex: 1 1 0;

  margin: 0;
  margin-right: 1rem;
}
.page__row__item:last-child {
  margin-right: 0;
}

.page__card,
.page__button {
  background-color: transparent;
  color: inherit;
  border: 4px solid currentColor;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page__card--clickable,
.page__button {
  transition: box-shadow 0.1s ease-in;
}
.page__card--clickable:not(:active),
.page__card--clickable:not(:enabled),
.page__button:not(:active),
.page__button:not(:enabled) {
  transition: box-shadow 0.1s ease-in, background-color 0.25s ease-out;
}
.page__card--clickable:enabled:active,
.page__button:enabled:active {
  background-color: rgba(53, 126, 221, 0.1);
}
.page__card--clickable:focus,
.page__button:focus {
  outline: 0;
  box-shadow: 0px 0px 5px #357edd;
}
.page__card--clickable::-moz-focus-inner,
.page__button::-moz-focus-inner {
  border: 0;
}

.page__button {
  padding: 0.25rem;
}

.page__title {
  font-size: 2rem;
  font-weight: bold;
}

.page__text {
  text-align: left;
}

.page__text a,
.page__text a:visited {
  color: #00449e;
  text-decoration: underline;
}
.page__text:hover {
  text-decoration: none;
}
.page__text a:focus {
  outline: 1px dotted currentColor;
}

.page__red {
  color: #e7040f;
}

.page__green {
  color: #137752;
}
